.app {
  background-color: #dbdbd3;
  /* outer color */
  height: 100vh;
  place-items: center;
  display: grid;
}
.app__body {
  display: flex;
  background-color: #ededed;
  /* inner box color */
  margin-top: -50px;
  width: 90vw;
  height: 90vh;
  box-shadow: -2px 8px 20px -8px rgba(4, 3, 66, 0.75); /*It can
  be change later according to style*/
}
